
@media screen and (min-width: 890px) and (max-width: 1140px){
  .play-list{
    flex-wrap: wrap;
  }
  .play-list-item{
    width: 31%;
  }

  .disappear2{
    display: none;
  }
}


@media screen and (min-width: 801px) and (max-width: 1330px){
    .widget{
      border: none;
      padding: 0;
    }
  
    .menu-item{
      flex-direction: column;
      align-items: flex-start;
      font-size: 10px;
    }
  
    .icon{
      align-items: center;
    }
      
    .disappear{
      display: none;
    }
}
 

    
   @media screen and (max-width: 800px) {
    .side-bar{
      display: none;
    }
}  

@media screen and (min-width: 510px) and (max-width: 890px){
  .play-list{
    flex-wrap: wrap;
  }
  .play-list-item{
    width: 48%;
  }
}
  
@media screen and (max-width: 510px){
  .play-list{
    flex-wrap: wrap;
  }
  .play-list-item{
    width: auto;
  }
}